.Loginbox {
  height: 360px;
  width: 500px;
  border: 1px solid black;
  margin-left: 37%;
  margin-bottom: 50px;
}
.Loginpage {
  height: 75px;
  width: 500px;
  background-color: blue;
}

.Signupbox {
  height: 820px;
  width: 500px;
  border: 1px solid black;
  margin-left:38%;
  margin-bottom: 50px;
}
.Signuppage {
  height: 75px;
  width: 500px;
  background-color: blue;
}
.Loginheading {
  font-size:180%;
  color: white;
  margin-top: 0;
  text-align: center;
  padding: 20px;
}
.Names {
  padding-left: 26%;
  text-align: left;
  margin-top: 9%;
  font-size: large;
}
